<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Your password request</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Hello, <span th:text="${sysUser.firstName}"></span> <span th:text="${sysUser.lastName}"></span><br/>
            Below is a direct link to reset your password. For your security, it will only remain active for two hours. <br/>
        </p>
        <p>
            <a th:href="@{${url}}" target="_blank">Reset Password</a><br/>
        </p>
        <p>
            If you didn't request a new password, please contact us immediately<br/>
        </p>
           <div style="font-size:20px"><em>What ever you need ---</em>
           <div style="text-indent: 8em;">
            <img src="cid:flipper"  height="80" width="80" /><em>  .com</em>
   		  </div> 
    </div>
    </body>
</html>
